.signup__main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup__container {
  width: 500px;
  height: 600px;
  background: indigo;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-family: OpenSans;
  flex-direction: column;
}

.signup__title {
  margin: 30px;
  color: white;
  font-size: 30px;
  text-align: center;
}

.signup__submit {
  width: 110px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  background-color: blueviolet;
  font-size: 20px;
  color: white;
}

.buttons {
  height: 50px;
  width: 258px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  align-items: center;
}

.signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup__submit:hover {
  cursor: pointer;
}
